////
/// Wanchope main CSS stylesheet
////

$base-em:			0.9375em;
$offset:			$base-em;

$transition-speed:	0.25s;

// @import "reset";

// Bootstrap
@import "bootstrap/bootstrap";

// Wanchope
@import "component/panel";