// ==== MENUS ==== //

// Inline menu; used in header and footer navigation
.menu-inline {
  @include clearfix;
}

$nav-items-colors: (
	#F44336,
	#42A5F5,
	#9C27B0,
	#2E7D32,
	#EF6C00,
	#5D4037,
	#78909C,
	#F44336,
	#283593,
	#9C27B0,
	#2E7D32,
	#EF6C00,
	#5D4037,
);

.navbar-primary {
	border: none;
	color: $navbar-primary-color;
	background-color: $navbar-primary-bg-color;
	a {
		transition: background-color $transition-speed ease,
					max-height $transition-speed ease;
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			display: block;
			height: 3px;
			width: 100%;
			max-height: 0px;
			background-color: $navbar-primary-border-color;
		}
	}
	.navbar-nav {
		@each $color in $nav-items-colors {
			li {
				$index: index($nav-items-colors, $color);
				&:nth-child(#{$index}) {
					a {
						&:after {
							background-color: $color;
						}
					}
				}
			}
		}
		> li {
			> a {
				color: inherit;
				&:hover {
					background-color: $navbar-primary-bg-hover-color;
					&:after {
						max-height: 10px;
					}
				}
			}
		}
	}
	.dropdown-menu {
		background-color: lighten($navbar-primary-bg-color, 10%);
		> li {
			> a {

			}
		}
	}
}

// Menu toggle for mobile phones and small screens
// $navbar-default-toggle-hover-bg:           #ddd !default;
// $navbar-default-toggle-icon-bar-bg:        #888 !default;
// $navbar-default-toggle-border-color:       #ddd !default;
#responsive-menu-toggle {
	position: absolute;
	top: 100%;
	right: 0;
	color: #FFF;
	border: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	box-shadow: inset 0 3px 1px -1px black(0.5);
	padding: $offset / 2;
	background-color: $brand-secondary;
	.icon-bar {
		position: relative;
		height: 3px;
		width: 24px;
		border-radius: 1px;
		display: block;
		background-color: #FFF;
		:hover & {
			background-color: lighten(#FFF, 10%);
		}
		& + .icon-bar {
			margin-top: 5px;
		}
	}
}

#{$layout-navbar} {
	transition: top $transition-speed ease;
	top: 0;
	&.navbar-fixed-top {
		margin-bottom: 0;
	}
	.admin-bar & {
		top: 32px; // Admin bar heights
	}
	&.nav-hidden {
		top: - $navbar-height + 32px;
	}
}
