$FONTPATH: '../fonts/';

@font-face {
	font-family: 'Raleway-Bold';
	src: url('#{$FONTPATH}Raleway-Bold.eot');
	src: url('#{$FONTPATH}Raleway-Bold.eot?#iefix') format('embedded-opentype'),
		url('#{$FONTPATH}Raleway-Bold.woff') format('woff'),
		url('#{$FONTPATH}Raleway-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway-Regular';
	src: url('#{$FONTPATH}Raleway-Regular.eot');
	src: url('#{$FONTPATH}Raleway-Regular.eot?#iefix') format('embedded-opentype'),
		url('#{$FONTPATH}Raleway-Regular.woff') format('woff'),
		url('#{$FONTPATH}Raleway-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway-Medium';
	src: url('#{$FONTPATH}Raleway-Medium.eot');
	src: url('#{$FONTPATH}Raleway-Medium.eot?#iefix') format('embedded-opentype'),
		url('#{$FONTPATH}Raleway-Medium.woff') format('woff'),
		url('#{$FONTPATH}Raleway-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway-Light';
	src: url('#{$FONTPATH}Raleway-Light.eot');
	src: url('#{$FONTPATH}Raleway-Light.eot?#iefix') format('embedded-opentype'),
		url('#{$FONTPATH}Raleway-Light.woff') format('woff'),
		url('#{$FONTPATH}Raleway-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
