////
/// _panel.scss
/// Paneles estilo bootstrap
////

.panel {
	position: relative;
	display: block;
	width: auto;
	padding: $offset ($offset*2);
	line-height: 1em;
	font-size: 1.2em;
	font-weight: 500;
	background-color: gray;
	color: white;
	border-radius: 5px;
	margin: auto;
	margin-bottom: 1em;
}


.panel {
	&.featured {
		text-align: center;
		font-size: 1.6em;
		transition: transform $transition-speed ease;
		&:active {
			transform: translate3d(0, 3px, 0);
		}
	}
}