/**
 * Post content
 * @view index.php
 */

.post-content {
	> *:first-child {
    	margin-top: 0;
    }
}

/**
 * Transitions
 */
.post-title,
.post-meta {
	a {
		transition: color $transition-speed ease;
		&:hover {
			text-decoration: none;
		}
	}
}

/**
 * Post header
 */
.post-header {
    padding-bottom: 4.5%;
    border-bottom: 3px double $ui-color-secondary;
    margin-bottom: 4.5%;
}

/**
 * Titles
 */
.post-title {
    font-size: $font-size-h1;
    line-height: 120%;
    font-weight: normal;
	a {
    	color: $title-color;
	}
}

.post-content {
	h1 { font-size: $font-size-h1; } //
	h2 { font-size: $font-size-h2; } // 1.75em;
	h3 { font-size: $font-size-h3; } //
	h4 { font-size: $font-size-h4; } //
	h5 { font-size: $font-size-h5; } //
	h6 { font-size: $font-size-h6; } //
	h1, h2, h3, h4, h5, h6 {
	    color: $text-color;
	}
	h1 { margin: 20px 0 30px; }
	h2 { margin: 60px 0 25px; }
	h3 { margin: 50px 0 20px; }
	h4 { margin: 35px 0 20px; }
	h5 { margin: 45px 0 20px; }
	h6 { margin: 30px 0 20px; }

	h5 {
		text-transform: uppercase;
		font-weight: 600;
	}
}


/**
 * Post meta
 */
.post-meta {
    padding-top: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.9em;
    &, a {
    	color: $text-muted;
    }
}

/**
 * Text
 */
.post-content {
	ul, ol, li, p {
	    line-height: 170%;
	    font-size: 1.15em;
	}
	p {
	    margin-bottom: 1.1em;
	    &:first-of-type {
	    	font-size: 1.2em;
	    }
	}
	blockquote {
	    font-size: 1.1em;
	    padding: $offset * 2;
	    background: #f6f6f6;
	    color: #666;
	    display: block;
	    clear: both;
	}
}


/**
 * Text styles inside post
 */
.post-content {
	// .content {
	//     margin-bottom: 4.5em;
	//     padding-bottom: 2em;
	//     border-bottom: 2px solid $ui-color-primary;
	// }
	header {
	    margin-bottom: 1.5em;
	    font-size: 1.2em;
		p:last-child {
		    margin: 0;
		}
	}
	.alert {
	    display: block;
		padding: 1em;
	    line-height: 1.4em;
	}
	.docs {
	    padding: $offset ($offset * 1.5);
	    background-color: lighten($brand-primary, 25%);
	    color: #FFF; // darken($brand-primary, 25%);
	    border: 1px solid #CBCBCB;
	    font-size: 0.875em;
	    border-radius: 3px;
		display: block;
		@extend .alert;

	}
}

/**
 * Content blocks inside .post-content
 */
.post-content {
	code {
		padding-left: 6px;
		padding-right: 6px;
	}
	pre {
		margin-bottom: ($offset * 2)!important; // Overrides plugin
		border-color: darken(#f5f2f0, 5%);
		transition: box-shadow ($transition-speed * 2) ease;
		box-shadow: none;
		margin-bottom: 1em;
		&:hover {
			box-shadow: 0 2px 4px -1px black(0.4);
		}
		code {
			line-height: 1.4em;
			padding-left: 0;
			padding-right: 0;
		}
	}
}


/**
 * Navigation between posts
 */
.post-nav {
	padding: ($offset * 4) ($offset * 4);
    background: $brand-secondary;
    margin-top: $content-inner-horizontal-padding;
    margin-left: -$content-inner-horizontal-padding;
    margin-right: -$content-inner-horizontal-padding;
    margin-bottom: -$content-inner-vertical-padding;
    .btn {
    	@include truncate-line();
		max-width: 100%;
    	@include button-variant(
    		#FFF,
    		darken($brand-secondary, 10%),
    		darken($brand-secondary, 15%)
		);
    }
}
