/**
 * Post preview
 * @view index.php
 */


/**
 * Featured image
 */
.featured-media {
    position: relative;
    margin-bottom: 2.5em;
    a {
	    display: block;
	    line-height: 0;
	    // background-color: $ui-border-secondary;
    }
    img {
	    display: block;
	    border-radius: 4px;
	    max-width: 100%;
	    height: auto;
	    margin: 0 auto;
	}
}


/**
 * Post bubbles
 */
.post-bubbles {
    position: absolute;
    left: $post-bubble-size / 2;
    // left: 25px;
	.format-bubble {
	    height: $post-bubble-size;
	    width: $post-bubble-size;
	    background-color: #DDD;
	    margin-top: $post-bubble-size;
	    transition: background $transition-speed ease;
	    text-align: center;
	    .icon {
	    	font-size: ($post-bubble-size / 2.5);
	    	line-height: 1em;
	    	vertical-align: middle;
	    	display: inline-block;
	    }
	}
	a {
		position: relative;
	    display: block;
	    border-radius: 999px;
	    z-index: 10;
	    border: 3px solid #FFF;
	    text-indent: -9999px;
	    &:hover {
	    	animation: spin $animation-speed ease;
	    }
	}
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
